# API

fastapi # Фреймворк для работы
pydantic # Валидация данных и маршаллинг
starlette
paho-mqtt # MQTT

# Data

al
uuid # Уникальные коды
enum # Шаблон для последовательностей

# Visualization

torch
matplotlib

# Calculations

numpy

